$color__grey--1: #acacac;
$color__grey--2: #2e2e2e;
$color__grey--3: #292929;
$color__grey--4: #1E1E1E;
$color__grey--5: #131313;

$color__white--1: #f6f6f6;

$font__main: 'Squada One', cursive;
$font__digital: 'VT323', monospace;

$border-radius--small: 3px;
$border-radius--medium: 5px;